<mat-card>
  <b><span>Registrar Compra</span></b>
</mat-card>
<hr>
<div class="container" class="dark-mode">
  <h2>Registrar Compra</h2>
  <form [formGroup]="compraForm" (ngSubmit)="registrarCompra()">
    <div class="form-row">
      <div class="form-group">
        <label for="produto_nome">Nome do Produto:</label>
        <input id="produto_nome" formControlName="produto_nome" required>
      </div>
      <div class="form-group">
        <label for="preco_unitario">Preço Unitário:</label>
        <input type="text" id="preco_unitario" name="preco_unitario" formControlName="preco_unitario"
               [class.invalid-negative-value]="compraForm.get('preco_unitario')?.hasError('negativeValue')"
               (input)="preventInvalidCharacters($event)"
               [(ngModel)]="compra.preco_unitario" (ngModelChange)="updateTotalValue()">
               <div *ngIf="compraForm.get('preco_unitario')?.invalid && !compraForm.get('preco_unitario')?.hasError('negativeValue')" class="error-message">
                O preço unitário deve ser maior que 0.
              </div>
        <div *ngIf="compraForm.get('preco_unitario')?.hasError('negativeValue')" class="error-message">
          Não é permitido um valor negativo.
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="quantidade_comprada">Quantidade Comprada:</label>
        <input type="number" id="quantidade_comprada" name="quantidade_comprada" pattern="[0-9]*" inputmode="numeric"
               formControlName="quantidade_comprada" (input)="preventInvalidCharacters($event)"
               [(ngModel)]="compra.quantidade_comprada" (ngModelChange)="updateTotalValue()">
        <div *ngIf="compraForm.get('quantidade_comprada')?.invalid && !compraForm.get('quantidade_comprada')?.hasError('negativeValue')" class="error-message">
          A quantidade comprada deve ser maior que 0.
        </div>
      </div>
      <div class="form-group">
        <label for="desconto_recebido">Desconto Recebido:</label>
        <input type="text" id="desconto_recebido" name="desconto_recebido" pattern="[0-9]*" inputmode="numeric"
               formControlName="desconto_recebido" (input)="preventInvalidCharacters($event)"
               [(ngModel)]="compra.desconto_recebido" (ngModelChange)="updateTotalValue()">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group">
        <label for="fornecedor_nome">Nome do Fornecedor:</label>
        <select id="fornecedor_nome" formControlName="fornecedor_nome" required [(ngModel)]="compra.fornecedor_nome" class="custom-select">
          <option *ngFor="let fornecedor of fornecedores" [ngValue]="fornecedor.nome" class="custom-option">{{ fornecedor.nome }}</option>
        </select>
      </div>
      <div class="form-group">
        <label for="total_compra">Valor Total da Compra:</label>
        <span class="currency-value"> {{ compra.total_compra | currency:'BRL' }}</span>
      </div>
    </div>
    <div class="button-wrapper">
      <button type="submit" class="btn-submit">Registrar Compra</button>
    </div>
  </form>
</div>