<!-- Página inicial -->

<div class="bg-image"></div>
<app-best-seller></app-best-seller>

<div class="wrapper sticky">
  <nav class="navbar-fixed-top">
    <a href="#" class="logo">
      <mat-icon>storefront</mat-icon> SistemaStore
    </a>
    <ul>
      <li><a class="login-btn" (click)="loginAction()">Login</a></li>
      <li><a class="cadastrar-btn" (click)="cadastrarAction()">Cadastrar</a></li>
      <li><a class="esqueci-senha-btn" (click)="esqueciSenhaAction()">Esqueci Senha</a></li>
    </ul>
  </nav>
</div>
<div class="footer" id="signup">
  <h2>Todos os direitos reservados à @SistemaStore</h2>
</div>