<div class="header">
    <button mat-icon-button class="mode-toggle-button" (click)="toggleDarkMode()">
        <mat-icon>{{ isDarkMode ? 'brightness_4' : 'brightness_5' }}</mat-icon>
    </button>
    <button [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5">
        <mat-icon>account_circle</mat-icon>
    </button>
</div>
<mat-menu #profile="matMenu" class="mymegamenu">
    <button mat-menu-item (click)="changePassword()">
        <mat-icon>password</mat-icon> Mudar Senha
    </button>
    <button mat-menu-item (click)="logout()">
        <mat-icon>exit_to_app</mat-icon> Deslogar
    </button>
</mat-menu>