<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Recursos</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/estoque_mini.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Produtos</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Gerenciar produtos é fundamental para manter o controle sobre o que sua empresa oferece. Com um eficiente controle de produtos, você garante que as informações estejam sempre atualizadas, facilitando a gestão de estoque, vendas e fornecedores.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/estoque_mini1.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini1.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Estoque</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Manter o controle eficiente do estoque é vital para garantir que você tenha os produtos certos no momento certo. Um bom gerenciamento de estoque ajuda a evitar perdas, reduzir custos e otimizar a disponibilidade dos produtos para atender às demandas dos clientes.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/estoque_mini2.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini2.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vendas</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Registrar e acompanhar as vendas é essencial para entender o desempenho do seu negócio. Um sistema de registro de vendas eficiente facilita a identificação de padrões de compra, preferências dos clientes e possibilita análises que auxiliam na tomada de decisões estratégicas.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/estoque_mini3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Controle</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Um eficiente sistema de controle ajuda a manter a organização e a gestão de diversas áreas do seu negócio. Monitorar dados, analisar relatórios e tomar decisões informadas são aspectos cruciais para garantir a eficiência operacional e o crescimento sustentável.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Sistema
                        <br />
                        Store
                        <br />
                        <mat-icon>storefront</mat-icon>
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>