<section class="page-section" id="about">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase">Funcionalidades</h2>
        </div>
        <ul class="timeline">
            <li><a href="../../assets/img/estoque_mini.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Produtos</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Um bom controle de estoque permite aos gestores calcular o índice de rotatividade das mercadorias e melhorar o processo de compras, diminuindo a pressão sobre o capital de giro da empresa.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/estoque_mini1.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini1.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Estoque</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Um bom controle de estoque permite aos gestores calcular o índice de rotatividade das mercadorias e melhorar o processo de compras, diminuindo a pressão sobre o capital de giro da empresa.</p>
                    </div>
                </div>
            </li>
            <li>
                <a href="../../assets/img/estoque_mini2.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini2.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Vendas</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Um bom controle de estoque permite aos gestores calcular o índice de rotatividade das mercadorias e melhorar o processo de compras, diminuindo a pressão sobre o capital de giro da empresa.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <a href="../../assets/img/estoque_mini3.png" target="_blank">
                    <div class="timeline-image"><img class="rounded-circle img-fluid" src="../../assets/img/estoque_mini3.png"
                            alt="..." /></div>
                </a>
                <div class="timeline-panel">
                    <div class="timeline-heading">
                        <h4>Controle</h4>
                    </div>
                    <div class="timeline-body">
                        <p class="text-muted">Um bom controle de estoque permite aos gestores calcular o índice de rotatividade das mercadorias e melhorar o processo de compras, diminuindo a pressão sobre o capital de giro da empresa.</p>
                    </div>
                </div>
            </li>
            <li class="timeline-inverted">
                <div class="timeline-image">
                    <h4>
                        Sistema
                        <br />
                        Store
                        <br />
                        <mat-icon>storefront</mat-icon>
                    </h4>
                </div>
            </li>
        </ul>
    </div>
</section>