.btnAdicionarCategoria {
    background: #1F9EE7;
    color: #FFFFFF;
}

.float-right {
    float: right;
    background: #1F9EE7;
    color: #FFFFFF;
}

mat-card {
    padding: 20px;
}

table {
    width: 100%;
}