<mat-card class="dark-mode">
  <b><span>Dashboard</span></b>
</mat-card>
<hr>
<mat-card class="dark-mode">
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Categorias</h2>
          <h1 class="title" class="dark-mode">{{ data?.categoriasCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/categoria']">
              Gerenciar Categorias
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Produtos</h2>
          <h1 class="title" class="dark-mode">{{ data?.produtosCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/produto']">
              Gerenciar Produtos
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Fornecedores</h2>
          <h1 class="title" class="dark-mode">{{ data?.fornecedoresCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/fornecedor']">
              Gerenciar Fornecedores
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Compras</h2>
          <h1 class="title" class="dark-mode">{{ data?.comprasCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/compras']">
              Registrar Compras
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Vendas</h2>
          <h1 class="title" class="dark-mode">{{ data?.vendasCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/vendas']">
              Registrar Vendas
            </button>
          </p>
        </div>
      </div>
    </div>
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Clientes</h2>
          <h1 class="title" class="dark-mode">{{ data?.clientesCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/clientes']">
              Gerenciar Clientes
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="column">
      <div class="card">
        <div class="container">
          <h2 class="title" class="dark-mode">Total Controle Estoque</h2>
          <h1 class="title" class="dark-mode">{{ data?.controleEstoqueCount }}</h1>
          <p>
            <button class="button" [routerLink]="['/sistemastore/controleEstoque']">
              Controle Estoque
            </button>
          </p>
        </div>
      </div>
    </div>
  </div>
</mat-card>