<body>
    <mat-card>
      <b><span>Dashboard</span></b>
    </mat-card>
    <br />
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Categorias:</h2>
            <h1 class="title">{{ data?.categoriasCount }}</h1>
            <p>
              <button class="button" [routerLink]="['/']">
                Ver categorias
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
        <div class="column">
          <div class="card">
            <div class="container">
              <h2 class="title">Total Produtos:</h2>
              <h1 class="title">{{ data?.produtosCount }}</h1>
              <p>
                <button class="button" [routerLink]="['/']">
                  Ver Produtos
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
  </body>