<mat-card>
    <b><span>Dashboard</span></b>
</mat-card>
  <hr>
  <mat-card>
    <div class="row">
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Categorias:</h2>
            <h1 class="title">{{ data?.categoriasCount }}</h1>
            <p>
              <button class="button" [routerLink]="['/sistemastore/categoria']">
                Ver Categorias
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Produtos:</h2>
            <h1 class="title">{{ data?.produtosCount }}</h1>
            <p>
              <button class="button" [routerLink]="['/sistemastore/produto']">
                Ver Produtos
              </button>
            </p>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="card">
          <div class="container">
            <h2 class="title">Total Fornecedores:</h2>
            <h1 class="title">{{ data?.fornecedoresCount }}</h1>
            <p>
              <button class="button" [routerLink]="['/sistemastore/fornecedor']">
                Ver Fornecedores
              </button>
            </p>
          </div>
        </div>
      </div>
    </div>
  </mat-card>
